body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
}

/*!-------HEADER-------**/

.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  margin-right: 76px;
}
.header-logo-italic {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .header {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
  .header-menu,
  .header-address {
    display: none;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: #2f2f37;
  }
}

@media only screen and (min-width: 768px) {
  .header-menu,
  .header-address {
    display: flex;
  }
  .mobile-menu-btn {
    display: none;
  }
  .header-nav {
    align-items: center;
    display: flex;
    width: 547px;
  }
  .header-menu-text {
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }
  .header-menu-text-portfolio {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
  .header-menu-link:hover {
    color: #404bbf;
  }
  .header-menu-link:focus {
    color: #404bbf;
  }
  .header-menu-link:active span {
    color: #404bbf;
    text-decoration: underline;
  }
  .header-menu-text::after {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: var(--OCEAN, #404bbf);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .header-address {
    font-style: normal;
  }
  .header-address-menu {
    display: block;
  }
  .header-address-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 12px;
  }
  .address-imet {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-address-link:hover {
    color: #404bbf;
  }
  .header-address-link:focus {
    color: #404bbf;
  }
}

@media only screen and (min-width: 1157px) {
  .header-nav {
    width: 471px;
  }
  .header-address-menu {
    display: flex;
    gap: 40px;
    padding: 24px 0;
  }
}

/*!-------/HEADER-------**/

/*!-------MOBILE-------**/

@media only screen and (max-width: 767px) {
  .mobil-nav-menu {
    padding-top: 72px;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    background-color: white;

    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms visibility 250ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu-container {
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobil-nav-menu-list {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    padding-bottom: 40px;
  }
  .mobil-nav-menu-list:hover {
    color: #404bbf;
  }
  .mobil-nav-menu-list:focus {
    color: #404bbf;
  }
  .mobil-nav-menu-text {
    padding-bottom: 168px;
  }
  .mobil-address-link {
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 24px;
  }
  .mobil-address-link:hover {
    color: #404bbf;
  }
  .mobil-address-link:focus {
    color: #404bbf;
  }
  .mobil-social {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--IRIS, #4d5ae5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobil-social:hover,
  .mobil-social:focus {
    background-color: var(--OCEAN, #404bbf);
  }
  .mobil-social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 48px;
    padding-bottom: 40px;
  }
  .mobil-social-item {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*!-------/MOBILE-------**/

/*!-------HERO-------**/

@media only screen and (max-width: 767px) {
  .hero {
    width: 320px;
    height: 432px;
    max-width: 320px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobil-hero.jpg);
  }

  @media only screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/mobil-hero@2x.jpg);
    }
  }
}

.hero {
  background-color: var(--NAVY-BLUE, #2e2f42);
  padding-top: 72px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  background-color: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-btn:hover {
  background-color: var(--OCEAN, #404bbf);
}
.hero-btn:focus {
  background-color: #404bbf;
  color: #404bbf;
}
.hero-btn:active {
  background-color: #404bbf;
  color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 436px;
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero.png);
  }
  .hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }

  @media only screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-hero@2x.png);
    }
  }
}

@media only screen and (min-width: 1157px) {
  .hero {
    width: 1440px;
    height: 600px;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media only screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office@2x.png);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

/*!-------/HERO-------**/
