body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
}

/*!-------HEADER-------**/

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-menu {
  display: none;
}
.header-address {
  display: none;
}
.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  margin-right: 76px;
}
.header-logo-italic {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  fill: #2f2f37;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  width: 100%;
  height: 100%;
  background-color: white;
}
.mobile-menu-container {
  position: relative;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  padding: 0;
  line-height: 0;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.mobil-nav-menu-list {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-bottom: 40px;
}
.mobil-nav-menu-list:hover {
  color: #404bbf;
}
.mobil-nav-menu-list:focus {
  color: #404bbf;
}
.mobil-address-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.mobil-address-link:hover {
  color: #404bbf;
}
.mobil-address-link:focus {
  color: #404bbf;
}

/*!-------/HEADER-------**/
