body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
}

/*!-------HEADER-------**/

.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  margin-right: 76px;
}
.header-logo-italic {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .header {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
  .header-menu,
  .header-address {
    display: none;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: #2f2f37;
  }
}

@media only screen and (min-width: 768px) {
  .header-menu,
  .header-address {
    display: flex;
  }
  .mobile-menu-btn {
    display: none;
  }
  .header-nav {
    align-items: center;
    display: flex;
    width: 547px;
  }
  .header-menu-text {
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }
  .header-menu-text-portfolio {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
  .header-menu-link:hover {
    color: #404bbf;
  }
  .header-menu-link:focus {
    color: #404bbf;
  }
  .header-menu-link:active span {
    color: #404bbf;
    text-decoration: underline;
  }
  .header-menu-text::after {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: var(--OCEAN, #404bbf);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .header-address {
    font-style: normal;
  }
  .header-address-menu {
    display: block;
  }
  .header-address-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 12px;
  }
  .address-imet {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-address-link:hover {
    color: #404bbf;
  }
  .header-address-link:focus {
    color: #404bbf;
  }
}

@media only screen and (min-width: 1157px) {
  .header-nav {
    width: 471px;
  }
  .header-address-menu {
    display: flex;
    gap: 40px;
    padding: 24px 0;
  }
}

/*!-------/HEADER-------**/

/*!-------MOBILE-------**/

@media only screen and (max-width: 767px) {
  .mobil-nav-menu {
    padding-top: 72px;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    background-color: white;

    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms visibility 250ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobil-nav-menu-list {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    padding-bottom: 40px;
  }
  .mobil-nav-menu-list:hover {
    color: #404bbf;
  }
  .mobil-nav-menu-list:focus {
    color: #404bbf;
  }
  .mobil-nav-menu-text {
    padding-bottom: 168px;
  }
  .mobil-address-link {
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 24px;
  }
  .mobil-address-link:hover {
    color: #404bbf;
  }
  .mobil-address-link:focus {
    color: #404bbf;
  }
  .mobil-social {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--IRIS, #4d5ae5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobil-social:hover,
  .mobil-social:focus {
    background-color: var(--OCEAN, #404bbf);
  }
  .mobil-social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 48px;
    padding-bottom: 40px;
  }
  .mobil-social-item {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*!-------/MOBILE-------**/

/*!-------HERO-------**/

@media only screen and (max-width: 767px) {
  .hero {
    width: 320px;
    height: 432px;
    max-width: 320px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobil-hero.jpg);
  }

  @media only screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/mobil-hero@2x.jpg);
    }
  }
}

.hero {
  background-color: var(--NAVY-BLUE, #2e2f42);
  padding-top: 72px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  background-color: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-btn:hover {
  background-color: var(--OCEAN, #404bbf);
}
.hero-btn:focus {
  background-color: #404bbf;
  color: #404bbf;
}
.hero-btn:active {
  background-color: #404bbf;
  color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 436px;
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero.png);
  }
  .hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }

  @media only screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-hero@2x.png);
    }
  }
}

@media only screen and (min-width: 1157px) {
  .hero {
    width: 1440px;
    height: 600px;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media only screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office@2x.png);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

/*!-------/HERO-------**/

/*!-------FEATURES-------**/

@media only screen and (max-width: 767px) {
  .features-div {
    display: none;
  }
  .features-subtitle {
    text-align: center;
    align-self: stretch;
  }
  .features-item {
    width: 288px;
  }
  .features-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
  }
  .container-features{
    width: 0 auto;
  }
}

.features-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .features-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  .features-div {
    display: none;
  }
  .features-item {
    width: 356px;
    margin-bottom: 72px;
  }
  .features-item-text {
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1157px) {
  .features-div {
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;
    padding: 24px 100px 24px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .features-item-text {
    font-weight: 500;
  }
}

/*!-------/FEATURES-------**/

/*!-------TEAM-------**/

.team {
  background-color: #f4f4fd;
}
.team-div {
  padding: 32px 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
.team-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--IRIS, #4d5ae5);
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc {
  fill: #f4f4fd;
}
.team-social:hover,
.team-social:focus {
  background-color: var(--OCEAN, #404bbf);
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-item {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-item-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    gap: 24px;
    justify-content: center;
  }
  .team-item {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1157px) {
  .team-list {
    display: flex;
    gap: 24px;
  }
  .team-div {
    justify-content: space-around;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/*!-------/TEAM-------**/

/*!-------PORTFOLIO-------**/

@media only screen and (max-width: 767px) {
  .portfolio-img {
    width: 288px;
    height: 280px;
  }
  .portfolio-ice {
    display: none;
  }
}
.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-imet-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
  }
  .portfolio-ice {
    display: none;
  }
  .portfolio-img {
    width: 356px;
    height: 300px;
  }
}

@media only screen and (min-width: 1157px) {
  .portfolio-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .portfolio-subtitle {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .portfolio-imet-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .portfolio-ice {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
  }

  .portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .portfolio-div-photo {
    position: relative;
    overflow: hidden;
  }
  .portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .portfolio-item:hover .portfolio-ice {
    transform: translateY(0%);
  }
}

/*!-------/PORTFOLIO-------**/

/*!-------FOOTER-------**/

@media only screen and (max-width: 767px){
  .footer {
    height: 664px;
  }
  .container-logo{
    width: 288px;
    margin: 0 auto;
  }
  .logo{
    text-align: center;
  }
  .footer-text{
    width: 288px;
  }
  .footer-text-list{
    text-align: center;
    margin-top: 72px;
  }
  .footer-social {
    align-items: flex-start;
  }
  .footer-form {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  .footer-input{
    width: 288px;
  }
}

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  height: 664px;
  padding: 100px 0;
}
.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-italic {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-text-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-list {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-imet {
  fill: #f4f4fd;
}
.footer-input {
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}
.footer-input::placeholder {
  color: #ffffff;
}
.footer-button {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
}
.footer-btn-icon {
  margin-left: 16px;
}
.button-div {
  display: inline-flex;
  width: 165px;
  height: 40px;
}

@media only screen and (min-width: 768px){
  .footer {
    height: 456px;
  }
  .container-logo{
    width: 264px;
  }
  .footer-div-logo {
    margin-right: 24px;
    margin-left: 108px;
  }
  .footer-div {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .footer-div-conteiner{
    padding-top: 72px;
    margin-right: 585px;
    margin-left: 108px;
   }
   .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }
}
@media only screen and (min-width: 1157px){
  .footer {
    height: 312px;
    padding: 100px 0;
    align-items: center;
    display: inline-flex;
    width: auto;
  }
  .footer-div {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    margin-right: 156px;
  }
  .footer-div-logo {
    margin-right: 120px;
  }
  .footer-social {
    display: flex;
    gap: 16px;
  }
  .footer-social-list:hover,
  .footer-social-list:focus {
   background-color: #31d0aa;
  }
  .footer-social-imet {
   fill: #f4f4fd;
  }
  .footer-form-div {
   display: inline-flex;
  }
  .button-div {
    display: inline-flex;
    width: 165px;
    height: 40px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }  
  .footer-div-conteiner{
    padding: 0;
  }
}

/*!-------/FOOTER-------**/
